*{

  background-color: lightpink;
  display: block;
  max-width: auto;
  height: auto;
  align-content: center;
  margin-top: auto;
  margin-bottom: auto;

}

.container,
.header {

  text-align: center;
  font-size: larger;

}

img, svg {
  width: 100%;
  height: 100%;
}

.column {

text-align: center;
align-content: center;

}

@media screen and (min-width: 375px) {}