*{

  max-width: auto;
  height: auto;

}

.header {

  text-align: center;
  font-size: larger;

}

img {
  width: 100%;
  height: 100%;
}

.column {

float: left;
width: 33.33%;
font-size: 75%;

}


@media screen and (max-width: 600px) {

  .column {

    width: 100%;
    
  }

}